@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
//$blue: #06bcef;
// Add pink and its invert
//$pink: #ff8080;
//$pink-invert: #fff;
// Update the sans-serif font family
//$family-sans-serif: "Helvetica", "Arial", sans-serif;

$hero: #FFB1AA;
$link: $hero;

// 3. Set the derived variables
// Use the new pink as the primary color
//$primary: $pink;
//$primary-invert: $pink-invert;

// 4. Import the rest of Bulma


@import "../node_modules/bulma/bulma";


.content-narrow {
    margin-left: 10%; 
    margin-right: 10%;
}


/*https://stackoverflow.com/questions/27492191/how-to-make-a-chevron-arrow-using-css */
  
/* RESPONSIVE ARROWS */
[class^=arr-]{
border:       solid currentColor;
border-width: 0 .15em .15em 0;
display:      inline-block;
padding:      .20em;
}
.arr-right {transform:rotate(-45deg);}
.arr-left  {transform:rotate(135deg);}
.arr-up    {transform:rotate(-135deg);}
.arr-down  {transform:rotate(45deg);margin-bottom: .2em;}

a {
    color: black;
    scroll-margin-top: 100px;
}

[class^=arrbig-]{
    border:       solid currentColor;
    border-width: 0 .15em .15em 0;
    display:      inline-block;
    padding:      0.50em;
    }
    .arrbig-down  {transform:rotate(45deg);margin-bottom: .2em;}

li {
    padding-bottom: 0.5rem;
}
    